{{ define "main" }}
  <div class="body">
    <div class="list">
      {{ $pages := site.RegularPages }}
      {{ $paginator := .Paginate $pages }}
      {{ range $paginator.Pages }}
        <div class="list-item">
          <a class="list-item-title" href="{{ .RelPermalink }}">
            {{ replace .Slug "-" " "}}
          </a>
          <div class="list-item-ctime">{{ time.Format "2006-01-02" .Date }}</div>
        </div>
      {{ end }}
      {{ template "_internal/pagination.html" . }}
    </div>
    <div class="introduction">
      {{ $linkedInProfileLink := .Site.Params.linkedInProfileLink }}
      {{ if $linkedInProfileLink }}
        {{ with resources.Get "public/linkedin.ico" }}
          <a class="icon-url" href= {{ $linkedInProfileLink }} target="_blank">
              <img src="{{ .RelPermalink }}" alt="Linkedin profile">
          </a>
        {{ end }}
      {{ end }}
      {{ $githubProfileLink := .Site.Params.githubProfileLink }}
      {{ if $githubProfileLink }}
        {{ with resources.Get "public/github.ico" }}
          <a class="icon-url" href= {{ $githubProfileLink }} target="_blank">
              <img src="{{ .RelPermalink }}" alt="Github profile">
          </a>
        {{ end }}
      {{ end }}
      {{ with .Site.Params.introduction }}
        <div>
          {{ replace . "\\n" "<br>" | safeHTML }}
        </div>
      {{ else }}
        <div>Welcome to blog!</div>
      {{ end }}
      <br>
      <div>
        🚪Portal:<br>
        <a href="/tts/webui/"> TTS Model Server WebUI</a>
      </div>
    </div>
  </div>
{{ end }}