table * {
  white-space-collapse: preserve;
  white-space: pre-wrap;
  line-height: 1;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header{
  text-align: center;
  background-color: #282c34;
  padding: 20px;
  color: white;
  a, a:link, a:visited{
    text-decoration: none!important;
    color: inherit;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  margin: 0 auto;
}

.introduction {
  flex: 0 0 30%;
  padding: 10px;
  text-align: left; /* Align text to the left */
  line-height: 2; /* Double line spacing */
  border-left: 1px dotted #000;

  a:first-of-type img {
    margin-left: 0;
  }
}

.icon-url {
  text-decoration: none;
  color: inherit;

  img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.list {
  flex: 0 0 70%;
  padding: 10px;
  text-align: left; /* Align text to the left */
  line-height: 2; /* Double line spacing */
}

.list-item {
  display: flex;
  padding: 20px 0;
  transition: color 0.3s ease, background-color 0.3s ease; /* Add background-color transition */
  cursor: pointer; /* Change cursor style to pointer */
  align-items: center;
}

.list-item:hover {
  background-color: #f5f5f5; /* Lighten background color on hover */
}

.list-item-title {
  flex: 0 0 70%;
  color: #000;
  text-decoration: none;
}

.list-item-ctime {
  flex: 0 0 30%;
  color: #aaa; 
  font-size: small;
  text-align: center;
}

.detail {
  flex: 0 0 70%;
  padding: 10px;
  text-align: left; /* Align text to the left */
  line-height: 2; /* Double line spacing */
  overflow-x: auto; /* Enable horizontal scrolling if content exceeds max-width */
}

.not-found {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

/* Pagination Container */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* Pagination Item */
.pagination .page-item {
  margin: 0 3px;
}

.pagination .page-link {
  padding: 5px  5px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

/* Hover Effect */
.pagination .page-link:hover {
  background-color: #f0f0f0;
}

/* Disabled State */
.pagination .page-item.disabled .page-link {
  color: #888;
  cursor:default;
}

/* Active State */
.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #282c34;
}

@media (max-width: 768px) {
  .body {
    width: 100%;
    padding: 0 5px;
    flex-direction: column;
  }
  .list, .introduction {
    flex: 0 0 100%;
  }

  .introduction {
    order: -1;
    border-left: none;
    border-bottom: 1px dotted #000;
  }
}